/* || HERO SECTION */
#hero_section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#hero_container {
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    /* width: clamp(var(--min_width), 100%, var(--max_width)); */
    width: 100%;
    height: 45rem;
    border-radius: 0.9375rem;
}

#hero_container #hero_header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 1.12rem;
}

#hero_header h1 {
    margin: 0;
    text-align: center;
    font-family: "Magiona Display";
    font-size: 6.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 107.195%;
    letter-spacing: -0.125rem;
    background: radial-gradient(48.33% 96.59% at 50% 50%, #FFF 0%, #FCFFE2 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 1057px) {
    #hero_header h1 {
        font-size: 5rem;
    }
}

@media (max-width: 700px) {
    #hero_header h1 {
        font-size: 4.5rem;
        width: 20rem;
    }
}

@media (max-width: 300px) {
    #hero_header h1 {
        font-size: 3.5rem;
        width: 15rem;
    }
}

#hero_header a {
    display: flex;
    padding: 1.125rem 1.75rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background: radial-gradient(51.23% 185.67% at 50% 50%, #FFF 0%, #FCFFE2 100%);
    color: var(--dark_contrast);
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    line-height: 117.294%;
    letter-spacing: -0.025rem;
    transition: scale .2s;
    user-select: none;
    cursor: pointer;
}

#hero_header a:hover {
    scale: 1.05;
}

#hero_header a:active {
    scale: .95;
}

#hero_banner {
    z-index: 0;
    top: -79px;
    position: absolute;
    overflow: hidden;
    width: 111%;
    height: 111%;
}

#hero_banner img {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#hero_banner_overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    background: rgba(5, 12, 79, 0.15);
}